* {
    margin: 0;
    box-sizing: border-box; 
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.center h1 {
    text-align: center;
    padding: 0px 60px;
    font-size: 40px;
}

 .center p {
     text-align: center;
     font-size: 18px;
     color: rgb(200, 200, 200); 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 280px;
    height: 100px;
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 4px;
}

img {
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;  
    /* animation: zoom 3s infinite alternate; */
}

/* @keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
} */

.banner {
    height: 850px;
    width: 100%;
    /* border-radius: 20px; */
    background-color: aliceblue;
}
.ban {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

h2 {
    padding-top: 20px;
    margin-left: 20px;
}


footer {
    height: 50px;
    border-radius: 4px;
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

dt {
    margin-left: 20px;
}
